
 .main-content {
        padding-bottom: 50px;
    }

    footer {
        margin-top: 50px;
    }
    
    .navbar-nav .nav-link,
    .dropdown-menu-dark .dropdown-item {
        color: #ffffff !important;
      
    }

   
    .navbar-nav .nav-link:hover,
    .dropdown-menu-dark .dropdown-item:hover {
        color: #19e0fa !important;

    }
    .bg-dark {
    padding: 2rem; 
}

.text-2xl {
    font-size: 1.5rem; 
}

.table-dark th, .table-dark td {
    padding: 0.75rem; 
    font-size: 0.85rem;
}

.btn {
    padding: 0.375rem 0.75rem; 
    font-size: 0.75rem;
}

.navbar {
    padding: 0.5rem 1rem; 
}

.navbar-brand, .navbar-nav .nav-link {
    font-size: 0.9rem; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}


.navbar-toggler {
    padding: 0.25rem 0.5rem; 
    font-size: 0.75rem; 
}

.navbar-text {
    font-size: 0.8rem; 
}


.navbar .dropdown-menu {
    font-size: 0.85rem; 
}

.navbar .ms-auto {
    display: flex;
    align-items: center;  
}


.navbar-nav .nav-link {
    display: flex;
    align-items: center; 
    height: 100%; 
}

@media (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        background-color: #333;  
        width: 100%; 
        top: 56px;
    }
    body {
        background-attachment: fixed;  
    }
    .main-content {
        padding-bottom: 20px; 
    }

    footer {
        margin-top: 20px; 
    }

    .spacer {
        height: 20px; 
    }
}
.navbar .fas {
    margin-right: 5px; 
}
#navbarNav {
    top: 56px; 
    z-index: 1030;
}
