
.form-input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%; 
    box-sizing: border-box; 
}

.form-input[type="file"] {
    height: auto;
    padding: 0.375rem;
}

.form-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

textarea.form-input {
    height: 150px;
    resize: vertical; 
}

