header {
    background-color: transparent; 
    color: white;
    padding: 30px 30px; 
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    width: 100%;
}

.header-icon {
    width: 60px; 
    height: auto; 
    margin-right: 20px; 
}

header span {
    font-size: 30px; 
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}


html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}


.content {
    flex: 1; 
}

footer {
    background-color: #000000; 
    color: white;
    padding: 15px 15px; 
    text-align: center;
    width: 100%;
}

.footer-content {
    text-align: center;
}

.iconos-formulario {
    text-align: center; 
    margin-bottom: 20px; 
}

.iconos-formulario img {
    margin: 0 10px;
    width: 50px; 
    height: auto;
}


.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    border-radius: 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    backdrop-filter: blur(0px); /* Aplicar el efecto de desenfoque */
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #000000; 
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    padding-bottom: 15px; 
}

.formulario form{
    padding: 0 15px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #000000; 
    margin: 20px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 25px;
    font-size: 12px; 
    border: none;
    background: none;
    outline: none;
}

.username input:focus ~ label,
.username input:valid ~ label{
    top: -5px;
    color: #ff5e00; 
    transition: top 0.3s ease, color 0.3s ease;
}

.username input:focus ~ span::before,
.username input:valid ~ span::before{
    width: 100%;
}

.recordar{
    margin: -5px 0 20px 5px;
    color: #000000; 
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 40px;
    border: 1px solid #000000; 
    background: #e9b303; 
    border-radius: 20px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background-color: #ff5e00; 
    border-color: #ff5e00; 
    transition: background-color .5s, border-color .5s;
}

.registrarse{
    margin: 20px 0 ;
    text-align: center;
    font-size: 16px;
    color: black;
}
.registrarse a{
    color: black; 
}

.registrarse a:hover{
    color: #002EFF; 
}



.field-container {
    position: relative;
    margin-bottom: 50px;  
}

.error-message {
    position: absolute;
    bottom: -30px;  
    left: 0;
    width: 100%;  
    color: #E8200C; 
    font-size: 12px;  
    text-align: left;  
}