{% extends "base.html" %}

{% block content %}
<style>
    .error-messages {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

.error-messages li {
    background-color: #DC3545; 
    color: white;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    margin-bottom: 5px;
}
</style>
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-dark text-light p-4 rounded">
            <h3 class="text-center mb-4">Editar Usuario</h3>
            <form id="editarUsuarioForm" method="post">
                {% csrf_token %}
                <div class="formulario-container">
                    {% for campo in formulario %}
                    <div class="form-group mb-3" style="display: flex; align-items: center;">
                        {% if campo.field.widget.input_type == 'checkbox' %}
                        <div class="form-check" style="margin-left: 40px;">
                            {{ campo }}
                            <label class="form-check-label text-light" for="{{ campo.id_for_label }}">
                                {{ campo.label }}
                            </label>
                        </div>
                        {% else %}
                        <label for="{{ campo.id_for_label }}" class="form-label text-gray-400" style="display: inline-block; width: 200px; text-align: right;">{{ campo.label }}:</label>
                        <div style="margin-left: 40px;">
                            {{ campo }}
                        </div>
                        {% endif %}
                        {% if campo.errors %}
                        <ul class="error-messages">
                            {% for error in campo.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="buttons-container">
                        <div class="row justify-content-center">
                            <div class="col-sm-8 offset-sm-4">
                                <button type="submit" id="guardarCambiosBtn" class="btn btn-primary w-full">
                                    <i class="fas fa-save mr-2"></i> Guardar Cambios
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}